<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <!--bootstrap link-->
    <!--<link rel="stylesheet" href="../Content/bootstrap.min.css" />-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="calculator.css" rel="stylesheet" />

</head>
<body>

    <div class="calculatorSize">

        <input type="text" class="screenSize" value="" disabled />

        <div class="keys">
            <button type="button" class="btn btn-danger" value="+">+</button>
            <button type="button" class="btn btn-danger" value="-">-</button>
            <button type="button" class="btn btn-danger" value="*">&times;</button>
            <button type="button" class="btn btn-danger" value="/">&divide;</button>


            <button type="button" value="7" class="btn btn-light key-effect">7</button>
            <button type="button" value="8" class="btn btn-light key-effect">8</button>
            <button type="button" value="9" class="btn btn-block key-effect">9</button>

            <button type="button" value="4" class="btn btn-light key-effect">4</button>
            <button type="button" value="5" class="btn btn-light key-effect">5</button>
            <button type="button" value="6" class="btn btn-light key-effect">6</button>

            <button type="button" value="1" class="btn btn-light key-effect">1</button>
            <button type="button" value="2" class="btn btn-light key-effect">2</button>
            <button type="button" value="3" class="btn btn-light key-effect">3</button>

            <button type="button" value="0" class="btn btn-light key-effect">0</button>
            <button type="button" value="." class="decimal function btn btn-success"><b>.</b></button>
            <button type="button" value="all-clear" class="all-clear function btn btn-danger btn-sm">AC</button>

            <button type="button" class="equal-sign operator btn btn-default" value="=">=</button>
        </div>
    </div>

    <!--Optional JavaScript-->
    <!--jQuery first, then Popper.js, then Bootstrap JS-->
    <!--jQuery library-->
    <script src="../Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="../Scripts/popper.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

</body>
</html>