* {
    margin: 0;
    padding: 0;
    color: black;
}

#full {
    color: white;
    text-align: center;
}

#header {
    width: 100%;
    height: 80Px;
    padding: 0px;
    font-size: 24px;
    border-style: solid;
    /*background-color: #0ff78e;*/
    /*border-bottom: 2px solid green;*/
    /*border-radius: 3px;*/
    /*margin-bottom: 2px;*/
}

#upNav {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-style: solid;
    /*background-color: #039696;*/
    /*border-top: 2px solid red;*/
    /*border-radius: 5px;
    margin-bottom: 2px;*/
}

#leftNav {
    width: 20%;
    height: 490px;
    float: left;
    border-style: solid;
    /*background-color: #4a5b85;*/
    /*border-radius: 2px;*/
}

#content {
    width: 60%;
    height: 490px;
    float: left;
    border-style: solid;
    /*background-color: #6d8278;*/
    /*margin-left: 2px;*/
    /*border-radius: 2px;*/
}

#rightNav {
    width: 20%;
    height: 490px;
    float: left;
    border-style: solid;
    /*background-color: #0c3027;*/
    /*margin-left: 2px;*/
    /*border-radius: 2px;*/
}

#footer {
    width: 100%;
    height: 40px;
    float: left;
    border-style: solid;
    /*background-color: #034035;*/
    /*background-image: linear-gradient(to right, #034035, #abfff0);*/
    /*margin-top: 2px;*/
    /*border-radius: 2px;*/
}
