* {
    margin: 0;
    padding: 0;
/*    color: white;*/
}

.page-parent-div {
    height: 450px;
}

.parent-row-div {
    height: 100%;
}

.parent-col-div {
    height: 100%;
    color: black;
}

option {
    color: black;
}

.tableHeight {
    height: 100%;
}
.bg-secondary {
    color: white;
}

@media screen and (max-width: 375px) {
    .parent-col-div {
        height: auto;
        width: 100%;
        padding: 5px;
    }
}
